<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{!-- favicon for tab icon here: --}}
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">  
    
    {{!-- imported css files here: --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/ban0udj.css"> 
       
    {{!-- <link rel="stylesheet" href="https://use.typekit.net/ban0udj.css"> --}}

    {{!-- personal css files here: --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/offcanvas.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/team.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/flora.css">
    <link rel="stylesheet" href="/css/roadmap.css">
    <link rel="stylesheet" href="/css/terms.css">




    {{!-- link to imported fonts here: --}}
   
    {{!-- link to social media icons here: --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- page title here: --}}
    <title></title>
</head>

<main>
    {{!-- off-canvas nav menu --}}

    {{!-- base frame --}}
    <div class="offcanvas">
        {{!-- logo --}}
        <img src="\images\logos\sacrd_gardn_neon.png" alt="logo">
        
        {{!-- close --}}
        <a href="javascript:void(0)" class="navclose">&times;</a>

        {{!-- links --}}
        <div class="navLinks">
            <a href="/roadmap" class="link" style="background-color: rgb(90, 29, 87);">Road Map</a>
            <a href="/team" class="link" style="background-color: rgb(255, 90, 0);">Team</a>
            <a href="/faq" class="link" style="background-color: rgb(225, 0, 68);">FAQ</a>
            <a href="/flora" class="link" style="background-color: rgb(167, 0, 76);">△FLORA NFT</a>
            <a href="https://my.matterport.com/show/?m=mvHce8tduYB&brand=0&play=1&wh=0" class="link" style="background-color: rgb(240, 206, 65);">Virtual Garden</a>
        </div>

        {{!-- social media --}}
        <div class="navIcons">
            <a href='https://discord.gg/jbv7raNcu2'>
                <img src="\images\logos\discord.png">
            </a>
            <a href='https://www.instagram.com/sacrdgardn/'>
                <img src="\images\logos\instagram.png">
            </a>
            <a href='https://opensea.io/SACRDGARDN'>
                <img src="\images\logos\OpenSea.png">
            </a>
            <a href='https://twitter.com/sacrdgardn'>
                <img src="\images\logos\twitter.png">
            </a>
        </div>

    </div>


    {{!-- nav --}}
    <div class="nav">

        <div class="header">

            {{!-- link to landing --}}
            <a href="/">
        
                {{!-- title --}}
                <div class="name">
                    <img src="/images/logos/logo.png">
                </div>

            </a>
            
            {{!-- menu button --}}
            <button>
                <img src="/images/logos/button.png" alt="button">
            </button>

        </div>

        {{!-- sub title --}}
            {{!-- <div class="marque">Psychedelic Plants from Dirt to Digital</div> --}}

        
    </div>

    {{!-- route to pages --}}

    {{{body}}}

    <div class="footer">

        {{!-- social media --}}
        <div class="social">

            {{!-- links --}}
            <a href='https://discord.gg/jbv7raNcu2'>

                {{!-- media icons --}}
                <img src="\images\logos\discord.png">

            </a>

            <a href='https://www.instagram.com/sacrdgardn/'>
                <img src="\images\logos\instagram.png">
            </a>
            <a href='https://opensea.io/SACRDGARDN'>
                <img src="\images\logos\OpenSea.png">
            </a>
            <a href='https://twitter.com/sacrdgardn'>
                <img src="\images\logos\twitter.png">
            </a>
            
        </div>

        <span class="message">
            Get ahead of the crowd and signup for the NFT Presale!
        </span>
        
        <div class="signup">
            {{> signup}}
        </div>

        <a href="/terms" class="conditions">Terms and Conditions</a>


        <div class="copyright">© GARDN LLC</div>

    </div>

    {{!-- imported scripts here: --}}
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    {{!-- personal js scripts here: --}}
    <script src="/js/main.js" alt="offcanvas"></script>

</main>
</html>