<div class="faq">
    <div class="question">
        How do I make a cryptocurrency wallet?
    </div>
    <button class="expand">+</button>
    <div class="answer" style="display: none;">
        First you will need to set up a Coinbase account HERE . After you have set up your Coinbase account, you will need to set up your digital wallet via MetaMask HERE . Metamask video tutorial: Metamask Tutorial For COMPLETE Beginners.
    </div>
    <button class="contract" style="display: none;">-</button>
</div>