<div id="faqs">
    <div class="faq">
        <div class="question">
            <div>
                <span>How do I make a cryptocurrency wallet?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                First you will need to set up a Coinbase account HERE . After you have set up your Coinbase account, you will need to set up your digital wallet via MetaMask HERE . Metamask video tutorial: Metamask Tutorial For COMPLETE Beginners.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>How do I buy Crypto?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Coinbase is the most popular platform to use when purchasing Crypto because you can invest directly using USD. On Coinbase you can purchase Bitcoin, Ethereum, and 30+ other coins and tokens. If you are located in a country that does not support Coinbase, there are many other options.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What is an NFT (Non-Fungible Token)?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                A non-fungible token is a non-interchangeable unit of data stored on a blockchain. It is a unique form of digital ledger that can be sold and traded on Web3. Although sometimes easily reproducible visually, NFT’s use blockchain technology to establish a verified and public proof of ownership. Good resource for “What is an NFT”: HERE.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What is Blockchain?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Blockchain is a system of recording information in a way that makes it nearly impossible to change, hack, or cheat the system. A blockchain is essentially a trustless and transparent digital ledger of transactions verified in real-time.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What is Ethereum?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Ethereum is a decentralized, open-source blockchain with smart contract functionality. ETH is a cryptocurrency that can be used to purchase NFT’s on the Ethereum blockchain. The ΔFLORA NFT collection will be on Ethereum.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What are gas fees?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Gas fees are the transaction fees that are paid to miners on a blockchain protocol to have their transaction included in the block. The fees fluctuate based on demand and are required in order to purchase an NFT and have it recorded on the blockchain.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What is Minting?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Minting is the first time an NFT is recorded on the blockchain. The mint price is set as the same for all NFT’s in the ΔFLORA genesis collection.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What is a greenlist?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
            A greenlist (sometimes called an allow list) is a list of people who can mint prior to the public sale. This guarantees the chance to mint an NFT before they sell out, and sometimes at a lower price. Greenlist spots are given via giveaways, contests and active community participation.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>When will the ΔFLORA pre-sale take place?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Our team is currently planting the seeds and tending to your future ΔFLORA NFT. The sale is slated to happen in early summer 2022 but the official date has not yet been determined.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What is the price to mint a ΔFLORA NFT?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                The official mint price is not yet available. Hang tight seedlings!
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>How many ΔFLORA NFTs are there?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                The official number of ΔFLORA NFTs is not yet available. Hang tight seedlings!
            </p>
            <button class="contract">-</button>
        </div>
    </div>
    
    <div class="faq">
        <div class="question">
            <div>
                <span>Do all of the NFTs in the collection have the same utility?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
            Time will tell, frens. Some may be rarer or have traits that provide access into different realms.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>How do I mint?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Minting will take place on our website. You will simply connect your MetaMask wallet and select your quantity using the “Mint” button.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>Can you own more than 1 ΔFLORA NFT?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                Yes. Upon the reveal and evolution, you may find that holding 1 or a certain quantity is of value to you.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>How many ΔFLORA NFTs can I mint if I am on the greenlist?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                You will be able to mint up to 4 NFTs per wallet during the pre-sale.
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>How do I get on the greenlist for access to the pre-sale?
                </span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                There will be a variety of opportunities across our media platforms to win a spot on our green list to ensure access to our pre-sale. Early adopters and community engagement will be rewarded. Be sure to enter your email below, join our discord or follow us on twitter to stay updated on greenlist opportunities!
            </p>
            <button class="contract">-</button>
        </div>
    </div>

    <div class="faq">
        <div class="question">
            <div>
                <span>What can I expect from ΔFLORA in terms of giving back?</span>
            </div>   
            <div>
                <button class="expand">+</button>
            </div>    
        </div>
        <div class="answer" style="visibility:hidden">
            <p>
                We are very excited to share the amazing partnerships, plans and vision that we have for this project around the conservation and therapeutic use of entheogenic plants.. As a group, we are dedicated to giving back in ways that will benefit not only our current generation, but also future generations. A seed has been planted.
            </p>
            <button class="contract">-</button>
        </div>

    </div>
</div>

<script src="/js/faq.js"></script>