<div id="landing_body">
    <div id="banner">
        <span id="b_message">
            Psychedelic Plants from Dirt to Digital
        </span>
    </div>
    <div id="gallery">
        <img src="/images/logos/sacrd_gardn_neon.png">
        <img src="/images/logos/sacrd_gardn_neon.png">
        <img src="/images/logos/sacrd_gardn_neon.png">
    </div>
</div>


<script src="/js/landing.js"></script>
<script src="/js/banner.js"></script>