{{!-- container --}}
<div class="flora">
    {{!-- secondary container --}}
    <div class="nft">
        {{!-- nfteazer --}}
        <img src="/images/plants/angels_trumpet.png">
    </div>
    <div class="nft">
        <img src="/images/plants/ayahuasca_leaf.png">
    </div>
    <div class="nft">
        <img src="/images/plants/ayahuasca_vine.png">
    </div>
    <div class="nft">
        <img src="/images/plants/buddy.png">
    </div>
    <div class="nft">
        <img src="/images/plants/bush.png">
    </div>
    <div class="nft">
        <img src="/images/plants/cactus.png">
    </div>
    <div class="nft">
        <img src="/images/plants/crack_rose.png">
    </div>
    <div class="nft">
        <img src="/images/plants/flower_bush.png">
    </div>
    <div class="nft">
        <img src="/images/plants/flower_cactus.png">
    </div>
    <div class="nft">
        <img src="/images/plants/Genesis_Blue_Lotus.png">
    </div>
    <div class="nft">
        <img src="/images/plants/kale.png">
    </div>
    <div class="nft">
        <img src="/images/plants/long_daddy.png">
    </div>
    <div class="nft">
        <img src="/images/plants/mary_jane.png">
    </div>
    <div class="nft">
        <img src="/images/plants/pinkie.png">
    </div>
    <div class="nft">
        <img src="/images/plants/prim_rose.png">
    </div>
    <div class="nft">
        <img src="/images/plants/sticky_icky.png">
    </div>
    <div class="nft">
        <img src="/images/plants/sunny_d.png">
    </div>
    <div class="nft">
        <img src="/images/plants/trap_flower.png">
    </div>
    <div class="nft">
        <img src="/images/plants/trumpet_flower.png">
    </div>
    <div class="nft">
        <img src="/images/plants/yellow_jawn.png">
    </div>
    <div class="nft">
        <img src="/images/plants/angels_trumpet.png">
    </div>
</div>

<script src="/js/flora.js"></script>