{{!-- container --}}
<div class="flora">
    {{!-- popup --}}
    <div class="popup">

        <a href="javascript:void(0)" class="popclose">&times;</a>


        <span class="notice">
            Get ahead of the crowd and signup for the NFT Presale!
        </span>
        
        <div class="signup">
            {{> signup}}
        </div>
        
    </div>

    {{!-- <div class="membership">
        <span class="member">∆FLORA membership NFT includes</span>
        <span class="ship">IRL Plants | Plant Merch | Partner Experiences & Education | Hold for Plant Simulator | 10% of proceeds go to non-profit partners</span>
    </div> --}}

    <div class="nft membership">

        <span>
            ∆FLORA membership NFT
        </span>

        <div>
            <div style="background-color: rgb(90, 29, 87);">IRL Plants</div>
            <div style="background-color: rgb(255, 90, 0);">Plant Merch</div>
            <div style="background-color: rgb(225, 0, 68);">Partner Experiences & Education</div>
            <div style="background-color: rgb(167, 0, 76);">Hold for Plant Simulator</div>
            <div style="background-color: rgb(240, 206, 65);">10% of proceeds go to non-profit partners</div>
        </div>

    </div>

    {{!-- secondary container --}}
    <div class="nft img">
        {{!-- nfteazer --}}
        <img src="/images/300px/1.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/2.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/3.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/4.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/5.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P1.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P3.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P4.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P5.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P6.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P7.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P8.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P9.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P10.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P11.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P12.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P13.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P14.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P15.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P16.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P17.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P18.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P19.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P21.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P23.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P24.png">
    </div>
    <div class="nft img">
        <img src="/images/300px/P25.png">
    </div>

</div>

<script src="/js/flora.js"></script>