<div class="landing">
    {{!-- <div class="rotate rotating"> <img src="/images/frames/rotate_1500.png" alt="rotate"></div> --}}
    <lottie-player class="lottie" src="/images/gifs/background_lotte.mp4.lottie.json" background="transparent"  speed="2.5" loop autoplay></lottie-player>
    <img src="/images/logos/sacrd_gardn_neon.png" alt="logo center page">
</div>

<script src="/js/landing.js"></script>