<div id="landing_frame">
    <div id="landing_body">
        <div id="banner">
            <span id="b_message">
                NFT and Web3 Plant Portal
            </span>
            <div id="gallery">
            
            </div>
        </div>
    </div>
</div>

<script src="/js/landing.js"></script>
<script src="/js/banner.js"></script>