<div class="landing">
    <lottie-player class="lottie" src="/images/gifs/background_lotte.mp4.lottie.json" background="transparent"  speed="7" loop autoplay></lottie-player>
    <img src="/images/logos/sacrd_gardn_neon.png">

    {{!-- <div>
        <img src="/images/logos/sacrd_gardn_neon.png">
    </div> --}}
</div>

<script src="/js/landing.js"></script>