<div class="partners">
    <a class="partner" href="https://chacruna.net/"><img src="\images\Partner Logos\Chacruna-logo-original.png" alt=""></a>
    <a class="partner" href="https://growmedicine.com/"><img src="\images\Partner Logos\GrowMedicine_High Res Logo.png" alt=""></a>
    <a class="partner" href="https://www.iceers.org/"><img src="\images\Partner Logos\ICEERS1.png" alt=""></a>
    <a class="partner" href="https://psychedelicstoday.com/"><img src="\images\Partner Logos\Psychedlics Today Logo Black Words .png" alt=""></a>
    <a class="partner" href="https://sistersinpsychedelics.org/"><img src="\images\Partner Logos\Sisters in Psychedelics.png" alt=""></a>
    <a class="partner" href="https://tucsonherpsociety.org/"><img src="\images\Partner Logos\Tucson Herpetological Society_hires.png" alt=""></a>
</div>