<div class="partners">
    <a class="partner" href=""><img src="\images\Partner Logos\Chacruna-logo-original.png" alt=""></a>
    <a class="partner" href=""><img src="\images\Partner Logos\GrowMedicine_High Res Logo.png" alt=""></a>
    <a class="partner" href=""><img src="\images\Partner Logos\ICEERS1.png" alt=""></a>
    <a class="partner" href=""><img src="\images\Partner Logos\Psychedlics Today Logo Black Words .png" alt=""></a>
    <a class="partner" href=""><img src="\images\Partner Logos\SacredGardenCommunity.jpg" alt=""></a>
    <a class="partner" href=""><img src="\images\Partner Logos\Sisters in Psychedelics.png" alt=""></a>
    <a class="partner" href=""><img src="\images\Partner Logos\Tucson Herpetological Society.jpg" alt=""></a>
</div>