<div class="roadmap">

    <div class="milestone">
        <div class="container primary">
            <div class="function primary">
                <span>COMMUNITY</span>
                <button class="btn" value="expand">+</button>
            </div>
            <div class="description primary" style="visibility: hidden;">
                <div class="container secondary">
                    <p>Twitter, Instagram, YouTube, Discord & Strategic Partnerships launched. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="milestone">
        <div class="container primary">
            <div class="function primary">

                <span>∆FLORA NFT</span>
                <button class="btn" value="expand">+</button>

            </div>
            <div class="description primary" style="visibility: hidden;">
                <div class="container secondary">
                    <div class="container tertiary">
                        <div class="function secondary">

                            <span>CLAIM</span>
                            <button class="btn" value="expand">+</button>

                        </div>
                        <div class="description secondary" style="visibility: hidden;">
                            <p >1 free claim from our SHOP or PLANT MARKETPLACE per NFT</p>                    
                        </div>
                    </div>

                    <div class="container tertiary">
                        <div class="function secondary">

                            <span>DONATION</span>
                            <button class="btn" value="expand">+</button>

                        </div>
                        <div class="description secondary" style="visibility: hidden;">

                            <p >10% of initial sale is donated to non-profit partners Chacruna Institute, ICEERS, Grow Medicine to support entheogen plant and indigenous community conservation</p>
                        
                        </div>
                    </div>

                    <div class="container tertiary">
                        <div class="function secondary">

                            <span>REFORESTATION</span>
                            <button class="btn" value="expand">+</button>

                        </div>
                        <div class="description secondary" style="visibility: hidden;">

                            <p >We will offset our carbon footprint with Offsetra and donate to a reforestation project in the Amazon to have a carbon negative impact</p>
                        
                        </div>
                    </div>

                    <div class="container tertiary">
                        <div class="function secondary">

                            <span>MEMBERSHIP</span>
                            <button class="btn" value="expand">+</button>

                        </div>
                        <div class="description secondary" style="visibility: hidden;">

                            <p >global community with exclusive chats, first access to future drops and integration with our partner network of psychedelic pioneers</p>
                        
                        </div>
                    </div>

                    <div class="container tertiary">
                        <div class="function secondary">

                            <span>EXPERIENCES</span>
                            <button class="btn" value="expand">+</button>

                        </div>
                        <div class="description secondary" style="visibility: hidden;">

                            <p >access to education and experiences IRL and in the floraverse</p>
                        
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="milestone">
        <div class="container primary">
            <div class="function primary">
                <span>SHOP</span>
                <button class="btn" value="expand">+</button>
            </div>
            <div class="description primary" style="visibility: hidden;">
                <div class="container secondary">
                    <p>Members will have access to exclusive and discounted psychedelic plant merchandise, partner experiences, planters and growing tools custom designed by artists.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="milestone">
        <div class="container primary">
            <div class="function primary">
                <span>∆FLORA DROPS & PLANT MARKETPLACE</span>
                <button class="btn" value="expand">+</button>
            </div>
            <div class="description primary" style="visibility: hidden;">
                <div class="container secondary">
                    <p>
                        Exclusive ∆FLORA drops of rare physical plant cuttings and a decentralized marketplace for plants with our farmer and garden members.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="milestone">
        <div class="container primary">
            <div class="function primary">
                <span>PLANT CULTIVATION SIMULATION</span>
                <button class="btn" value="expand">+</button>
            </div>
            <div class="description primary" style="visibility: hidden;">
                <div class="container secondary">
                    <p>
                        We support growing IRL & in the FLORAVERSE.  SUN, WATER and SOIL will be needed to make your plant grow.  Play to learn regardless of the prohibition status.                   
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="milestone">
        <div class="container primary">
            <div class="function primary">
                <span>MASTERCLASS</span>
                <button class="btn" value="expand">+</button>
            </div>
            <div class="description primary" style="visibility: hidden;">
                <div class="container secondary">
                    <p>
                        Expand your mind and your gardening prowess on our platform with the help of world-class experts. Explore the virtual plant library, garden and experiences!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="milestone">
        <div class="container primary">
            <div class="function primary">
                <span>THE EVOLUTION</span>
                <button class="btn" value="expand">+</button>
            </div>
            <div class="description primary" style="visibility: hidden;">
                <div class="container secondary">
                    <p>
                        SACRΞD GARDΞN will bridge the physical and virtual from dirt to digital using IRL plants and web3 tools.  We will grow the biggest decentralized garden of sacred plants.                               
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/roadmap.js"></script>