<div class="terms">
    <span>Disclaimer</span>
    <p>
        The Company provides the website and its connected services “as is” and “as available,” without warranty of any kind. Without limiting this, we expressly disclaim all warranties, whether expressed, implied or statutory, regarding the website. Using applications on the blockchain is associated with a high degree of technological and/or other risks. Holders and/or purchasers of the NFT-Tokens and associated artwork are subject to the Terms and Conditions available on the website.
        <br>
        </br>
        The NFT-Token are non-fungible tokens representing ownership of a digital artwork only. Accordingly, no information on this website (or any other documents mentioned therein) is or may be considered to be advice or an invitation to enter into an agreement for any investment purpose. Further, as NFT-Token represents artwork, nothing on this website qualifies or is intended to be an offering of securities in any jurisdiction nor does it constitute an offer or an invitation to purchase shares, securities or other financial products.  Due to the artistic nature of the project, neither this document nor the NFT-Token have not been registered with or approved by any regulator in any jurisdiction. It remains in your responsibility to assure that the purchase of the NFT-Token and the associated art is in compliance with laws and regulations in your jurisdiction.
        <br>
        </br>
        We undertake no obligation to publicly update or revise any information or opinions published on the website. We reserve the right to amend the information at any time without prior notice.  Nothing contained on this website is intended to encourage the cultivation or use of illegal substances. Given that psychedelics will continue to be used illegally by people around the world, the educational information on this website encourages safe, sacred and effective relationships with psychedelics, if these powerful tools are to be used at all.  This website is not medical advice. 
    </p>
</div>
