/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 360px) {
    #b_message {
        font-size: 1.25rem;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    #b_message {
        font-size: 1.5rem;
    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    #b_message {
        font-size: 1.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    #b_message {
        font-size: 2rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    #b_message {
        font-size: 3rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    #b_message {
        font-size: 4rem;
    }
}

#banner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90%;
    overflow: hidden;
    height: fit-content;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}