/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {

    .question span, .answer p, .expand, .contract{
        font-size: 1rem;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

    .question span, .answer p, .expand, .contract{
        font-size: 1.5rem;
    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

    .question span, .answer p, .expand, .contract{
        font-size: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 

    .question span, .answer p, .expand, .contract{
        font-size: 2.5rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

    .question span, .answer p, .expand, .contract{
        font-size: 3rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 

    .question span, .answer p, .expand, .contract{
        font-size: 3.5rem;
    }

}

#faqs {

    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 1%;

}

.faq {

    position: relative;

    display: flex;
    flex-direction: row;
    
    /* height: 30%; */
    width: 100%;
    
}

.question, .answer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.question {
    background-color: white;
    padding: 2%;
}

.answer {
    position: absolute;
    right: 0px;

    width: 10%;
    height: 90%;
    z-index: 1;

    transition: 2s;
    background-color: #C73E7C;
    overflow: hidden;
}

.question span, .answer p{
    border-radius: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
    margin: 0px;
}

.question span{
    color: #C73E7C;

}

.answer p{
    text-align: start;
    padding: 1%;
    height: 80%;
    overflow-y: scroll;
    color: white;
}

.expand, .contract {
    color: white;
    background-color: #C73E7C;
    border: none;
}

.expand{
    color: white;
    background-color: #C73E7C;
    padding: 10px;
    border-radius: 10%;

}

.contract{
    color: #C73E7C;
    background-color: white;
    height: 100%;
}

