/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {

    .question span, .expand, .contract{
        font-size: 1rem;
    }

    .answer p{
        font-size: 0.7rem;

    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

    .question span, .expand, .contract{
        font-size: 1.5rem;
    }

    .answer p{
        font-size: .9rem;
    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

    .question span, .expand, .contract{
        font-size: 2rem;
    }

    .answer p{
        font-size: 1.1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 

    .question span, .expand, .contract{
        font-size: 2.5rem;
    }

    .answer p{
        font-size: 1.45rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

    .question span, .expand, .contract{
        font-size: 3rem;
    }

    .answer p{
        font-size: 1.6rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 

    .question span, .expand, .contract{
        font-size: 3.5rem;
    }

    
    .answer p{
        font-size: 1.85rem;
    }

}

/* XXX-Large devices (larger desktops, 1800px and up) */
@media screen and (min-width: 1800px) { 

    .question span, .expand, .contract{
        font-size: 3.5rem;
    }

    
    .answer p{
        font-size: 2rem;
    }

}


#faqs {

    display: flex;
    flex-direction: column;

    width: 95%;
    padding: 1%;

}

.faq {

    position: relative;

    display: flex;
    flex-direction: row;
    
    /* height: 30%; */
    width: 100%;

}

.question, .answer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.question {

    background-color: white;
    padding: 2%;

}

.question div {

    display: flex;
    justify-content: center;
    align-items: center;

}

.answer {
    
    position: absolute;
    right: 0px;
    z-index: 1;

    width: 0%;
    height: 90%;

    transition: 2s;
    background-color: #C73E7C;
    overflow: hidden;

}

.question span, .answer p{

    margin: 0px;

    border-radius: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.question span{

    color: #C73E7C;

}

.answer p{

    padding: 1%;
    height: 80%;

    overflow-y: scroll;
    color: white;
    text-align: start;

}

.expand, .contract {

    background: none;
    border: none;

}

.expand{

    height: fit-content;
    padding: 1%;

    border-radius: 10%;
    text-align: center;
    color: #C73E7C;



}

.contract{

    position: relative;

    height: 100%;

    color: white;
    text-align: center;
    
}

