/* x-small devices (landscape phones, 250px and up) */
@media screen and (min-width: 250px) {
    .nft {
        width: 45%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 92.5%;
    }
    .popup {
        width: 220px;
        padding: 3%;
    }
    .popclose{
        font-size: 0.85rem;
    }
    .notice{
        font-size: 1.2rem;
    }
    .nft.membership span {
        font-size: 0.6rem;
    }
    .nft.membership div div{
        font-size: 0.5rem;
    }
 
} 

/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
    .nft {
        width: 45%;
        background-size: 105%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 100%;
    }
    .popup {
        width: 235px;
        padding: 5%;
    }
    .popclose{
        font-size: 0.75rem;
    }
    .notice{
        font-size: 1.25rem;
    }
    .nft.membership span {
        font-size: 0.75rem;
    }
    .nft.membership div div{
        font-size: 0.65rem;
    }
 
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .nft {
        width: 40%;
        background-size: 100%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 95%;
    }
    .popup {
        width: 300px;
        padding: 4%;

    }
    .popclose{
        font-size: 1.15rem;
    }
    .notice{
        font-size: 1.75rem;

    }
    .nft.membership span {
        font-size: 1.15rem;
    }
    .nft.membership div div{
        font-size: 1rem;
    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    .nft {
        width: 30%;
        background-size: 100%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 90%;
    }
    .popup {
        width: 350px;
        padding: 3.5%;

    }
    .popclose{
        font-size: 1.25rem;
    }
    .notice{
        font-size: 2rem;
    }
    .nft.membership span {
        font-size: 1.15rem;
    }
    .nft.membership div div{
        font-size: 0.9rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .nft {
        width: 30%;
        background-size: 100%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 70%;
    }
    .popup {
        width: 500px;
        padding: 3%;

    }
    .popclose{
        font-size: 1.5rem;
    }
    .notice{
        font-size: 2.75rem;

    }
    .nft.membership span {
        font-size: 1.5rem;
    }
    .nft.membership div div{
        font-size: 1.15rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .nft {
        width: 30%;
        background-size: 115%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 115%;
    }
    .popup {
        width: 650px;
        padding: 2.5%;

    }
    .popclose{
        font-size: 1.75rem;
    }
    .notice{
        font-size: 3.5rem;

    }
    .nft.membership span {
        font-size: 1.75rem;
    }
    .nft.membership div div{
        font-size: 1.25rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    .nft {
        width: 25%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 100%;
    }
    .popup {
        width: 850px;
        padding: 2%;

    }
    .popclose{
        font-size: 1.95rem;
    }
    .notice{
        font-size: 4.5rem;

    }
    .nft.membership span {
        font-size: 1.75rem;
    }
    .nft.membership div div{
        font-size: 1.25rem;
    }
}

/* XXX-Large devices (larger desktops, 1800px and up) */
@media screen and (min-width: 1800px) { 
    .nft {
        width: 25%;
    }
    .nft img {
        /* sizing and spacing */
        max-width: 100%;
    }
    .popup {
        width: 850px;
        padding: 2%;

    }
    .popclose{
        font-size: 1.95rem;
    }
    .notice{
        font-size: 4.5rem;

    }
    .nft.membership span {
        font-size: 2.35rem;
    }
    .nft.membership div div{
        font-size: 1.25rem;
    }
}

.flora {

    /* position */
    position: relative;

    /* flex layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* sizing and spacing */
    width: 95%;
    height: auto;

}

.popup {

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-radius: 5px;
    transition: 2s;
    /* background-color: aliceblue; */
    
}

.popclose{

    align-self: flex-end;

    /* styling */
    color: #C73E7C; 
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;

}

.notice {

    /* sizing and spacing */
    margin: 1%;

    /* styling */
    color: #C73E7C; 
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

}

.membership {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* styling */
    color: #C73E7C; 
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.nft {

    /* flex layout */
    display: flex;
    justify-content: center;
    align-items: center;


    /* sizing and spacing */
    height: auto;

}

.nft.membership div{

    /* flex layout */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.nft.membership span {

    margin-bottom: 1%;

}

.nft.membership div div{

    flex-grow: 2;

    padding: 2%;
    margin: 1%;

    /* styling */
    color: white; 
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    border-radius: 5px;
    text-align: center;

}
