/* x-small devices (landscape phones, 250px and up) */
@media screen and (min-width: 250px) { 

    .landing img {

        max-width: 40%;

    }

    .rotate img {

        max-width: 180%;

    }

} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 360px) {

    .landing img {

        /* mobile responsive */
        max-width: 37.5%;
    }

    
    .rotate img {

        max-width: 170%;
    }

} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 540px) {

    .landing img {

        /* mobile responsive */
        max-width: 30%;
    }

    .rotate img {

        max-width: 130%;
    }


} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

    .landing img {

        /* mobile responsive */
        max-width: 25%;
    }

    .rotate img {

        max-width: 128%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 820px) and (min-height: 1180px) { 

    .landing img {

        /* mobile responsive */
        max-width: 27.5%;
    }

    .rotate img {

        max-width: 135%;
    }

}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 

    .landing img {

        max-width: 25%;

    }

    .rotate img {

        max-width: 110%;

    }


}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 1024px) and (min-height: 600px) { 

    .landing img {

        /* mobile responsive */
        max-width: 20%;
    }

    .rotate img {

        max-width: 107.5%;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

    .landing img {

        /* mobile responsive */
        max-width: 20%;
    }

    .rotate img {

        max-width: 107.5%;

    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 

    .landing img {

        /* mobile responsive */
        max-width: 20%;
    }

    .rotate img {

        max-width: 105%;    
    
    }


}

/* XXX-Large devices (larger desktops, 1800px and up) */
@media screen and (min-width: 1800px) { 

    .landing img {

        /* mobile responsive */
        max-width: 20%;
    }

    .rotate img {

        max-width: 102.5%;    
    
    }


}

.landing {

    position: relative;

    /* flex layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* sizing and spacing */
    width: 100%;
    height: auto;

    /* styling */
    overflow: hidden;

}

.lottie {

    /* position */
    /* position: absolute; */

    width: 100%;
    height: auto;

}

.rotate {

    width: 100%;
    height: auto;

}

.rotate img {

    height: auto;

}

.landing img {
    
    /* position */
    position: absolute;

    /* spacing and sizing */
    margin: auto;


}

.landing div {
    
    /* flex layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* sizing and spacing */
    height: auto;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
-webkit-animation: rotating 20s linear infinite;
-moz-animation: rotating 20s linear infinite;
-ms-animation: rotating 20s linear infinite;
-o-animation: rotating 20s linear infinite;
animation: rotating 20s linear infinite;}