/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 360px) {

} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
 
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 

}

@media screen and (min-width: 1800px) { 

} 

.landing {

    /* flex layout */
    display: flex;
    justify-content: center;

    /* sizing and spacing */
    width: 90%;
    padding: 1%;

    /* styling */
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.landing img {

    /* mobile responsive */
    max-width: 30%;

    /* sizing and spacing */
    height: auto;
}