/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 360px) {
    #landing_frame{
        padding: 5%;
    }

    #gallery {
        height: 275px;
    }

    #gallery div {
        width: 100%;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    #landing_frame{
        padding: 3%;
    }

    #gallery {
        height: 325px;
    }

    #gallery div {
        width: 70%;
    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    #landing_frame{
        padding: 3%;
    }

    #gallery {
        height: 300px;
    }

    #gallery div {
        width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    #landing_frame{
        padding: 3%;
    }

    #gallery {
        height: 325px;
    }

    #gallery div {
        width: 40%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    #landing_frame{
        padding: 1%;
    }

    #landing_body {
        padding: 1%;
    }

    #gallery {
        height: 350px;
    }

    #gallery div {
        width: 35%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    #landing_frame{
        padding: 2%;
    }

    #landing_body {
        padding: 1%;
    }
    
    #gallery {
        height: 350px;
    }

    #gallery div {
        width: 30%;
    }
}

@media screen and (min-width: 1800px) { 
    #landing_frame{
        padding: 1%;
    }

    #landing_body {
        padding: 1%;
    }

    #gallery {
        height: 475px;
    }

    #gallery div {
        width: 30%;
    }
}

#landing_frame {
    /* flex alignment */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    width: 90%;
    border-radius: 20px;

    /* background */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#landing_body {
    /* flex alignment */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* container sizing */
    width: 100%;

    /* stylng */
    border-radius: 10px;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* container sizing */
    width: 100%;
    border-radius: 10px;

    /* styling */
    overflow-y: scroll;
}

#gallery div {
    /* flex alignment */
    display: flex;
    justify-content: center;
    height: fit-content;

    /* container sizing */

    /* background formatting */
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;

    /* stylng */
    border-radius: 10px;
    margin: 1%;
}

#gallery div div {
    /* flex alignment */
    display: flex;
    text-align: center;

    /* container sizing */
    width: 100%;

    /* stylng */
    border-radius: 10px;
    margin: 1%;

}

#gallery div img {
    /* sizing */
    width: 100%;
    height: auto;
}
