/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
        
    .name {
        /* for mobile responsive  */
        font-size: 1.5rem;
    }

    .marque {
        /* for mobile responsive  */
        font-size: 1rem;
    } 

    .nav button {
        /* for mobile responsive  */
        font-size: 1.25rem;
    }

    .social img {
        /* for mobile responsive */
        max-width: 55%;
    }

    .copyright {
        /* for mobile responsive */
        font-size: .55rem;
    }
       
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
        
    .name {
        /* for mobile responsive  */
        font-size: 2rem;
    }

    .marque {
        /* for mobile responsive  */
        font-size: 1rem;
    } 

    .nav button {
        /* for mobile responsive  */
        font-size: 1.5rem;
    }

    .social img {
        /* for mobile responsive */
        max-width: 40%;
    }

    .copyright {
        /* for mobile responsive */
        font-size: .75rem;
    }
       
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
        
    .name {
        /* for mobile responsive  */
        font-size: 3rem;
    }

    .marque {
        /* for mobile responsive  */
        font-size: 1.25rem;
    } 

    .nav button {
        /* for mobile responsive  */
        font-size: 2rem;
    }

    .social img {
        /* for mobile responsive */
        max-width: 40%;
    }

    .copyright {
        /* for mobile responsive */
        font-size: 1rem;
    }
   
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
        
    .name {
        /* for mobile responsive  */
        font-size: 3.5rem;
    }

    .marque {
        /* for mobile responsive  */
        font-size: 1.5rem;
    } 

    .nav button {
        /* for mobile responsive  */
        font-size: 2.5rem;
    }

    .social img {
        /* for mobile responsive */
        max-width: 40%;
    }

    .copyright {
        /* for mobile responsive */
        font-size: 1.25rem;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    
    .name {
        /* for mobile responsive  */
        font-size: 4rem;
    }

    .marque {
        /* for mobile responsive  */
        font-size: 2rem;
    } 

    .nav button {
        /* for mobile responsive  */
        font-size: 3rem;
    }

    .social img {
        /* for mobile responsive */
        max-width: 40%;
    }

    .copyright {
        /* for mobile responsive */
        font-size: 1.5rem;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 

    .name {
        /* for mobile responsive  */
        font-size: 5rem;
    }

    .marque {
        /* for mobile responsive  */
        font-size: 3rem;
    } 

    .nav button {
        /* for mobile responsive  */
        font-size: 4rem;
    }

    .social img {
        /* for mobile responsive */
        max-width: 40%;
    }

    .copyright {
        /* for mobile responsive */
        font-size: 2rem;
    }
}


main {
    /* flex layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* styling */
    border-radius: 10px;

}


.nav {
    /* flex layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* sizing and spacing */
    width: 90%;
    height: fit-content;
    padding: 1%;
    border-radius: 10px;

    /* position */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nav a {
    /* styling */
    text-decoration: none;
}

.header{
    /* flex layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.name, .marque{
    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.nav button {
    /* styling */
    color: #C73E7C;
    background: none;
    border: none;
    border-radius: 10%;
    text-align: center;
}

.nav button:hover {
    /* styling */
    transform: scale(0.9);
    opacity: 0.8;
}

/* team, partners, minting: before july 6th signup after july 6th w/button to external link  */


.social {
    /* flex layout */
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* positioning */
    position: relative;
    margin-top: 1%;

    /* sizing & spacing */
    width: 30%;
    height: auto;

    /* styling */
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.social a {
    /* styling */
    text-decoration: none;
    width: 25%;
    height: auto;
}

.social img {
    
    /* spacing and sizing */
    height: auto;
    margin: 10px;
}

.social img:hover {
    /* styling */
    transform: scale(0.9);
}

.copyright {
    /* spacing and sizing */
    margin: 1%;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}