/* x-small devices (landscape phones, 250px and up) */
@media screen and (min-width: 250px) {

    .header, .footer {

        padding: 10% 0;

    }
    
    .name img   {

        max-width: 100%;
        
    }

    .nav button img {

        max-width: 110%;

    }

    .message {

        font-size: 3.75vw;

    }

    .copyright, .conditions {

        font-size: 2.5vw;

    }

    .social a {

        width: 25%;
    }

    .social img {

        max-width: 37.5%;

    }  

    .signup {

        width: 100%;

    }

    .seva-form {

        width: 65%;

    }

    .mint {

        width: 57.5%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 2.5vw;


    }

} 

/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {

    .header, .footer {

        padding: 10% 0;

    }
    
    .name img   {

        max-width: 90%;
        
    }

    .nav button img {

        max-width: 90%;

    }

    .message {

        font-size: 3.75vw;

    }

    .copyright, .conditions {

        font-size: 2.75vw;

    }

    .social a {

        width: 25%;
    }

    .social img {

        max-width: 37.5%;

    }  

    .signup {

        width: 100%;

    }

    .seva-form {

        width: 65%;

    }

    .mint {

        width: 57.5%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 2.25vw;


    }

} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

    .header, .footer {

        padding: 7.5% 0;

    }

    
    .name img   {

        max-width: 72.5%;
        
    }

    .nav button img {

        max-width: 90%;

    }

    .message {

        font-size: 4vw;

    }

    .copyright, .conditions {

        font-size: 2.5vw;

    }

    .social a {

        width: 25%;
    }

    .social img {

        max-width: 40%;

    } 

    .signup {

        width: 92.5%;

    }

    .seva-form {

        width: 70%;

    }

    .mint {

        width: 62.5%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 2vw;


    }
     
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

    .header, .footer {

        padding: 7.5% 0;

    }
    
    .name img   {

        max-width: 67.5%;
        
    }

    .nav button img {

        max-width: 80%;

    }

    .message {

        font-size: 3.5vw;

    }

    .copyright, .conditions {

        font-size: 2.25vw;

    }

    .social a {

        width: 25%;
    }

    .social img {

        max-width: 32.5%;

    }

    .signup {

        width: 90%;

    }

    .seva-form {

        width: 72.5%;

    }

    .mint {

        width: 65%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 1.75vw;


    }
    
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    
    .header, .footer {

        padding: 5% 0;

    }

    .name img   {

        max-width: 70%;
        
    }

    .nav button img {

        max-width: 80%;

    }

    .message {

        font-size: 3vw;

    }

    .copyright, .conditions {

        font-size: 2vw;

    }

    .social a {

        width: 25%;
    }

    .social img {

        max-width: 25%;

    }

    .signup {

        /* mobile responsive */
        width: 75%;

    }

    .seva-form {

        width: 70%;

    }

    .mint {

        width: 62.5%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 2vw;


    }
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    
    .header, .footer {

        padding: 5% 0;

    }

    .name img   {

        max-width: 82.5%;
        
    }

    .nav button img {

        max-width: 90%;

    }

    .message {

        font-size: 2.5vw;

    }

    .copyright, .conditions {

        font-size: 1.5vw;

    }

    .social a {

        width: 22.5%;
    }

    .social img {

        max-width: 25%;

    }

    .signup {

        /* mobile responsive */
        width: 60%;

    }

    .seva-form {

        width: 75%;

    }

    .mint {

        width: 65%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 1.25vw;


    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
   
    .header, .footer {

        padding: 2.5% 0;

    }

    .name img   {

        max-width: 95%;

    }

    .nav button img {

        max-width: 100%;

    }

    .message {

        font-size: 2.5vw;

    }

    .copyright, .conditions {

        font-size: 1.5vw;

    }

    .social a {

        width: 20%;
    }

    .social img {

        max-width: 25%;

    }

    .signup {

        /* mobile responsive */
        width: 60%;

    }

    .seva-form {

        width: 70%;

    }

    .mint {

        width: 60%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 1.25vw;


    }

}

/* XXX-Large devices (larger desktops, 1800px and up) */
@media screen and (min-width: 1800px) { 
   
    .header, .footer {

        padding: 2.5% 0;

    }

    .name img   {

        max-width: 95%;

    }

    .nav button img {

        max-width: 100%;

    }

    .message {

        font-size: 2.15vw;

    }

    .copyright, .conditions {

        font-size: 1.25vw;

    }

    .social a {

        width: 20%;
    }

    .social img {

        max-width: 25%;

    }

    .signup {

        /* mobile responsive */
        width: 60%;

    }

    .seva-form {

        width: 65%;

    }

    .mint {

        width: 57.5%;
 
    }

    .mint, .formkit-input, .formkit-submit, .formkit-alert.formkit-alert-success {

        font-size: 1.1vw;


    }

}


main {
    /* flex layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* styling */
    border-radius: 10px;

}


.nav {

    /* flex layout */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* sizing and spacing */
    width: 95%;
    height: fit-content;
    border-radius: 10px;

    /* position */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.nav a {
    /* styling */
    text-decoration: none;
}

.header{

    /* flex layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.name {

    /* flex layout */
    display: flex;
    justify-content: flex-start;
    align-items:center;

}

.marque{

    /* flex layout */
    display: flex;
    justify-content: flex-start;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.nav button {

    /* sizing and spacing */
    height: fit-content;
    width: fit-content;

    /* styling */
    background: none;    
    border: none;
    border-radius: 10%;
    text-align: center;

}

.nav button:hover {

    /* styling */
    transform: scale(0.9);
    opacity: 0.8;

}

.marque {

    /* styling */
    text-align: start;

}

.footer {

    /* flex layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* sizing and spacing */
    width: 90%;

    /* styling */
    text-align: center;

}

.social {

    /* flex layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: 3;

    /* positioning */
    position: relative;

    /* sizing & spacing */
    width: 50%;
    height: auto;


    /* styling */
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;

}

.social a {

    /* styling */
    text-decoration: none;
    height: auto;

}

.social img {
    
    /* spacing and sizing */
    height: auto;
    margin: 10px;
}

.social img:hover {

    /* styling */
    transform: scale(0.9);

}

.copyright {

    /* flex layout */
    order: 5;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;

}

.message {

    /* flex layout */
    order: 1;

    /* sizing and spacing */
    margin: 1%;

    /* styling */
    color: #C73E7C; 
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

}

/* parent container */
.signup {

    /* flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;

    /* sizing and spacing */

}

/* form parent container */
.seva-form {

    /* sizing and spacing */
    margin: 1.5%;
}

/* form sub container */
.seva-fields {

    /* flex layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* sizing and spacing */
    width: 100%;
    

}

/* input field container */
.formkit-field {

    /* flex layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* sizing and spacing */
    height: 100%;
    width: 75%;
    margin: auto;

}

/* input field */
.formkit-input {

    /* sizing and spacing */
    height: 100%;
    width: 100%;
    padding: 1%;

    /* styling */
    border: #e7e7e7 solid 1px;
    border-radius: 10px;
    color: #C73E7C; 
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

}

/* input submit button */
.formkit-submit {

    /* sizing and spacing */
    height:100%;
    width: 25%;
    margin: 0% 2%;
    padding: 1%;
    background-color: rgb(0, 164, 0);
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    border: none;
    border-radius: 10px;

}

.formkit-submit:hover {

    opacity: 0.9;
    transform: scale(0.9);

}

.formkit-alert.formkit-alert-success{

    padding: 1%;

    background-color: green;
    color: greenyellow;
    border: greenyellow solid 5px;
    border-radius: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

}

/* mint button */
.mint {

    /* sizing and spacing */
    padding: 1%;
    margin: 1%;
    height: 100%;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 202, 55);
    text-align: center;

}

.mint a {

    margin:1%;
    width: 100%;
    
    color: white;
    text-decoration: none;

}

.mint:hover {

    opacity: 0.9;
    transform: scale(0.9);
    
}

.conditions {

    /* flex layout */
    order: 4;

    /* sizing and spacing */
    margin: 1%;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;

}