/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
    
    .name {

        font-size: 2rem;

    }

    .marque, .nav button {

        font-size: 1.25rem;

    } 

    .copyright {

        font-size: 0.75rem;

    }


    .social img {

        max-width: 45%;

    }   

} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    
    .name {

        font-size: 2.5rem;

    }

    .marque, .nav button {

        font-size: 1.5rem;

    } 

    .copyright {

        font-size: 1rem;

    }


    .social img {

        max-width: 40%;

    }   
     
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    
    .name {

        font-size: 3rem;

    }

    .marque, .nav button {

        font-size: 2rem;

    } 

    .copyright {

        font-size: 1.5rem;

    }


    .social img {

        max-width: 35%;

    }   
    
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    
    .name {

        font-size: 3.5rem;

    }

    .marque, .nav button {

        font-size: 2.5rem;

    } 

    .copyright {

        font-size: 2rem;

    }


    .social img {

        max-width: 35%;

    }   
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
   
    .name {

        font-size: 4rem;

    }

    .marque, .nav button {

        font-size: 3rem;

    } 

    .copyright {

        font-size: 2.5rem;

    }


    .social img {

        max-width: 35%;

    }   

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
   
    .name {

        font-size: 4.5rem;

    }

    .marque, .nav button {

        font-size: 3.5rem;

    } 

    .copyright {

        font-size: 3rem;

    }


    .social img {

        max-width: 30%;

    }   
}


main {
    /* flex layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* styling */
    border-radius: 10px;

}


.nav {

    /* flex layout */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* sizing and spacing */
    width: 90%;
    height: fit-content;
    padding: 1%;
    border-radius: 10px;

    /* position */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.nav a {
    /* styling */
    text-decoration: none;
}

.header{

    /* flex layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.name, .marque{
    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.nav button {

    /* sizing and spacing */
    height: fit-content;
    width: fit-content;

    /* styling */
    color: white;
    background-color: #C73E7C;
    border: none;
    border-radius: 10%;
    text-align: center;

}

.nav button:hover {

    /* styling */
    transform: scale(0.9);
    opacity: 0.8;

}

.marque {

    /* styling */
    text-align: start;

}

.footer {

    /* flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* sizing and spacing */
    width: 90%;
    padding: 1%;

    /* styling */
    text-align: center;

}

.social {

    /* flex layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* positioning */
    position: relative;

    /* sizing & spacing */
    width: 50%;
    height: auto;


    /* styling */
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;

}

.social a {

    /* styling */
    text-decoration: none;
    width: 25%;
    height: auto;

}

.social img {
    
    /* spacing and sizing */
    height: auto;
    margin: 10px;
}

.social img:hover {

    /* styling */
    transform: scale(0.9);

}

.copyright {

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;

}