/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 360px) { 
    nav a span {
        margin: 5px;
        font-size: 2rem;
    }
    nav button {
        margin: 5px;
        font-size: 2rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
    nav a span {
        margin: 5px;
        font-size: 2.5rem;
    }
    nav button {
        margin: 5px;
        font-size: 2.2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {  
    nav a span {
        margin: 5px;
        font-size: 4rem;
    }
    nav button {
        margin: 5px;
        font-size: 2.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {  
    nav a span {
        margin: 5px;
        font-size: 5rem;
    }
    nav button {
        margin: 5px;
        font-size: 3rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {  
    nav a span {
        margin: 5px;
        font-size: 5rem;
    }
    nav button {
        margin: 5px;
        font-size: 3rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {  
    nav a span {
        margin: 5px;
        font-size: 6rem;
    }
    nav button {
        margin: 5px;
        font-size: 4rem;
    }
}

nav {
    /* sets element to flex layout to set content positions */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* sets width and height */
    width: 90%;
    height: fit-content;
    padding: 1%;
    border-radius: 10px;

    /* centers the element */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


nav a {
    /* removes hyperlink underlining */
    text-decoration: none;

    /* sets inner elements to flex layout for positioning */
    display: flex;
    justify-content: flex-start;
    text-align: start;
}

nav a span {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

/* nav a, nav button {

} */

nav button {
    /* button styling */
    color: white;
    background-color: white; 
    border: solid 5px white; 
    border-radius: 10px;
}

nav button:hover {
    /* makes the button smaller and color lighter on hover over */
    transform: scale(0.9);
    opacity: 0.8;
}

/* team, partners, minting: before july 6th signup after july 6th w/button to external link  */
