/* Smaller devices  */
@media screen and (min-height: 350px) {  
    .offcanvas img {
        max-width: 32.5%;
   }

   .navclose {
        font-size: 2rem;
   }

   .link {
        font-size: 1.2rem;
   }
   
   .navIcons img {
        width: 10%;
   }
}

/* Medium Devices */
@media screen and (min-height: 450px) {  
    .offcanvas img {
        max-width: 40%;
   }

   .navclose {
        font-size: 2.5rem;
   }

   .link {
        font-size: 1.3rem;
   }
   .navIcons img {
        width: 12.5%;
   }

}

/* large devices */
@media screen and (min-height: 650px) {  
    .offcanvas img {
        max-width: 55%;
   }

   .navclose {
        font-size: 3rem;
   }

   .link {
        font-size: 2.2rem;
   }

   .navIcons img {
        width: 14%;
   }

}

/* x-large devices */
@media screen and (min-height: 850px) {  
    .offcanvas img {
        max-width: 70%;
   }

   .navclose {
        font-size: 3rem;
   }

   .link {
        font-size: 3.1rem;
   }
   .navIcons img {
        width: 14%;
   }

}

/* The side navigation menu */
.offcanvas {
    
    /* positioning  */
    position: fixed; 
    z-index: 2; 
    top: 0;
    right: 0;

    /* flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* spacing and sizing */
    padding: 1%;
    height: 100%;
    width: 350px;
    right: -400px;
   
    /* styling */
    background-image: url('/images/backgrounds/body/B24.png');
    overflow-x: hidden; 
    transition: 1s;

}

/* sizing for offcanvas title */
.offcanvas img {

    /* sizing and spacing */
    height: auto;

}

/* Position and style the close button (top right corner) */
.navclose {

    /* positioning */
    position: absolute;
    top: -5px;
    right: -15px;

    /* sizing and spacing */
    width: 50px;

    /* styling */
    text-decoration: none;
    color: #C73E7C;

}

/* sets layout for nav links */
.navLinks {

    /* flex layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* sizing and spacing */
    width: 100%;
    /* padding: 1%; */

    /* styling */
    align-items: center;


}

/* The navigation menu links */
.navLinks .link {

    /* flex layout */
    flex-grow: 2;

    /* sizing and spacing */
    padding: 5% 1%;
    margin: 1%;
    text-align: center;
    width: auto;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;

}

/* When you mouse over the navigation links, change their color */
.link:hover {
    /* styling */
    transform: scale(0.9);
    opacity: 0.9;
}

/* social media icons formatting */
.navIcons {
    /* flex layout */
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.navIcons a {
    /* sizing and spacing */
    width: 25%;

    /* styling */
    text-decoration: none;

}

.navIcons img {
    /* spacing and sizing */
    margin: 10px;
}

.navIcons img:hover {
    /* styling */
    transform: scale(0.9);
}


