/* xx-small devices (landscape phones, 250px and up) */
@media screen and (min-width: 250px) {
    .offcanvas {
        width: 100%;
    }
}

/* Smaller devices  */
@media screen and (min-height: 350px) {  

    .offcanvas img {
        max-width: 37.5%;
   }

   .navclose {
        font-size: 2rem;
   }

   .link {
        font-size: 1.2rem;
   }
   
   .navIcons img {
        width: 10%;
   }
}

/* x-small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
    .offcanvas {
        width: 75%;
    }
}

/* Medium Devices */
@media screen and (min-height: 450px) {  

    .offcanvas img {
        max-width: 45%;
   }

   .navclose {
        font-size: 2.5rem;
   }

   .link {
        font-size: 1.4rem;
   }
   .navIcons img {
        width: 12.5%;
   }

}

/* Small devices (landscape phones, 576px and up) */
    @media screen and (min-width: 576px) {

    .offcanvas {
        width: 50%;
    }

}

/* large devices */
@media screen and (min-height: 650px) {  
    .offcanvas img {
        max-width: 55%;
   }

   .navclose {
        font-size: 3rem;
   }

   .link {
        font-size: 1.75rem;
   }

   .navIcons img {
        width: 14%;
   }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

    .offcanvas {
        width: 30%;
    }

}

/* x-large devices */
@media screen and (min-height: 850px) {  
    .offcanvas img {
        max-width: 65%;
   }

   .navclose {
        font-size: 3rem;
   }

   .link {
        font-size: 2.5rem;
   }
   .navIcons img {
        width: 14%;
   }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 

    .offcanvas {
        width: 30%;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    .offcanvas {
        width: 25%;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 

    .offcanvas {
        width: 20%;
    }

}

/* XXX-Large devices (larger desktops, 1800px and up) */
@media screen and (min-width: 1800px) {

    .offcanvas {
        width: 17.5%;
    }

}

/* The side navigation menu */
.offcanvas {
    
    /* positioning  */
    position: fixed; 
    z-index: 2; 
    top: 0;
    right: 0;

    /* flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* spacing and sizing */
    padding: 1%;
    height: 100%;
    right: -105%;
   
    /* styling */
    background-image: url('/images/backgrounds/body/B24.png');
    overflow-x: hidden; 
    transition: 1s;

}

/* sizing for offcanvas title */
.offcanvas img {

    /* sizing and spacing */
    height: auto;

}

/* Position and style the close button (top right corner) */
.navclose {

    /* positioning */
    position: absolute;
    top: -5px;
    right: -15px;

    /* sizing and spacing */
    width: 50px;

    /* styling */
    text-decoration: none;
    color: #C73E7C;

}

/* sets layout for nav links */
.navLinks {

    /* flex layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* sizing and spacing */
    width: 100%;
    /* padding: 1%; */

    /* styling */
    align-items: center;


}

/* The navigation menu links */
.navLinks .link {

    /* flex layout */
    flex-grow: 2;

    /* sizing and spacing */
    padding: 5% 1%;
    margin: 1%;
    text-align: center;
    width: auto;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;

}

/* When you mouse over the navigation links, change their color */
.link:hover {
    /* styling */
    transform: scale(0.9);
    opacity: 0.9;
}

/* social media icons formatting */
.navIcons {
    /* flex layout */
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.navIcons a {
    /* sizing and spacing */
    width: 25%;

    /* styling */
    text-decoration: none;

}

.navIcons img {
    /* spacing and sizing */
    margin: 10px;
}

.navIcons img:hover {
    /* styling */
    transform: scale(0.9);
}


