/* Smaller devices  */
@media screen and (min-height: 350px) {  
    .offcanvas img {
        max-width: 50%;
   }

   .navclose {
        font-size: 3rem;
   }

   .link {
        font-size: 1.15rem;
   }
   
   .navIcons img {
        width: 10%;
   }
}

/* Medium Devices */
@media screen and (min-height: 550px) {  
    .offcanvas img {
        max-width: 60%;
   }

   .navclose {
        font-size: 3rem;
   }

   .link {
        font-size: 1.75rem;
   }
   .navIcons img {
        width: 15%;
   }

}

/* large devices */
@media screen and (min-height: 750px) {  
    .offcanvas img {
        max-width: 80%;
   }

   .navclose {
        font-size: 3rem;
   }

   .link {
        font-size: 2.8rem;
   }
   .navIcons img {
        width: 30%;
   }

}

/* The side navigation menu */
.offcanvas {
    
    /* positioning  */
    position: fixed; 
    z-index: 1; 
    top: 1.5%;
    right: 0;

    /* flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* spacing and sizing */
    padding-top: 5px;
    height: 97%;
    width: 0; 
   
    /* styling */
    background-image: url('/images/backgrounds/body/B24.png');
    overflow-x: hidden; 
    transition: 0.5s;
    border-radius: 10px;
    opacity: 0;

}

/* sizing for offcanvas title */
.offcanvas img {
    /* sizing and spacing */
    height: auto;
}

/* Position and style the close button (top right corner) */
.navclose {
    /* positioning */
    position: absolute;
    top: -5px;
    right: -15px;

    /* sizing and spacing */
    width: 50px;

    /* styling */
    text-decoration: none;
    color: #C73E7C;
}

/* sets layout for nav links */
.navLinks {
    /* flex layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* sizing and spacing */
    padding: 10px;

    /* styling */
    align-items: center;

}

/* The navigation menu links */
.navLinks .link {
    /* flex layout */
    flex-grow: 2;

    /* sizing and spacing */
    padding-top: 6%;
    padding-bottom: 6%;
    margin: 3px;
    text-align: center;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;

}

/* When you mouse over the navigation links, change their color */
.link:hover {
    /* styling */
    transform: scale(0.9);
    opacity: 0.9;
}

/* social media icons formatting */
.navIcons {
    /* flex layout */
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;

    /* styling */
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.navIcons a {
    /* sizing and spacing */
    width: 25%;

    /* styling */
    text-decoration: none;

}

.navIcons img {
    /* spacing and sizing */
    margin: 10px;
}

.navIcons img:hover {
    /* styling */
    transform: scale(0.9);
}


