/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 360px) {
    .title{
        font-size: 1.25rem;
    }
    
    .subTitle {
        font-size: .75rem;
    }


    .bio {
        font-size: 1rem;
    }

    .twitter img {
        max-width: 60%;
    }

    .close {
        font-size: 1.5rem;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .title{
        font-size: 1.75rem;
    }
    
    .subTitle {
        font-size: 1rem;
    }


    .bio {
        font-size: 1.5rem;
    }

    .twitter img {
        max-width: 60%;
    }

    .close {
        font-size: 3rem;

    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    .title{
    font-size: 3rem;
    }
    
    .subTitle {
        font-size: 1.5rem;
    }


    .bio {
        font-size: 2.5rem;
    }

    .twitter img {
        max-width: 60%;
    }

    .close {
        font-size: 4rem;

    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .title{
    font-size: 3rem;
    }
    
    .subTitle {
        font-size: 1.5rem;
    }

    .bio {
        font-size: 3rem;
    }

    .twitter img {
        max-width: 60%;
    }

    .close {
        font-size: 5rem;

    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .title{
        font-size: 4rem;
    }
       
    .subTitle {
        font-size: 2rem;
    }

    .bio {
        font-size: 3rem;
    }

    .twitter img {
        max-width: 60%;
    }

    .close{
        font-size: 6rem;

    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    .title{
        font-size: 4rem;
    }
    
    .subTitle {
        font-size: 2rem;
    }

    .bio {
        font-size: 3rem;
    }

    .twitter img {
    max-width: 60%;
    }

    .close{
        font-size: 6rem;

    }
    
}

#team {
}

.member {
    position: relative;

    display: flex;
    flex-direction: row;

    max-width: 90%;
    height: 30%;

    border-radius: 10px;
    margin: 5%;

}

/* card */
.card {
    display: flex;
    flex-direction: row;

    padding: 3%;

    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    flex-shrink: 1;

    padding: 1%;

    text-align: start;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.image {
    max-width: 30%;
}

.image img {
    max-width: 100%;
    height: auto;

    border-radius: 10px;
}

/* bio & twitter tab */
.bio, .twitter {
    position: absolute;
    right: 0%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    height: 50%;
    width: 10%;

    text-align: center;
}

.bio {
    top: 0%;

    transition: 2s;
    text-decoration: none;
    color: #C73E7C;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

    background-color: rgb(240, 206, 65);
    background-image: url('/images/backgrounds/body/B21.png');
}

.bio p {
    max-width: 90%;
    height: 110%;
}

.close {
    display: flex;
    align-items: center;

    position: absolute;
    z-index: 2;
    top: 0%;
    right: 0%;

    border-radius: 10px;
    border: none;
    width: 10%;
    height: 30%;

    background-color: rgb(240, 206, 65);
    background-image: url('/images/backgrounds/body/B6.png');

    text-align: center;
    color: white;
}

.bio:hover, .twitter:hover {
    transform: scale(0.9);
    opacity: 0.9;
}

.twitter{
    transition: 2s;
    display: flex;
    align-items: center;
    bottom: 0%;
}