/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
    .title{
        font-size: 1rem;
    }
    
    .subTitle {
        font-size: .75rem;
    }


    .bio {
        font-size: 0.75rem;
    }

    .twitter img {
        max-width: 35%;
    }

    .close {
        font-size: 1rem;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .title{
        font-size: 1.35rem;
    }
    
    .subTitle {
        font-size: 1rem;
    }


    .bio {
        font-size: 1rem;
    }

    .twitter img {
        max-width: 40%;
    }

    .close {
        font-size: 1.5rem;

    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    .title{
    font-size: 1.75rem;
    }
    
    .subTitle {
        font-size: 1.25rem;
    }


    .bio {
        font-size: 1.5rem;
    }

    .twitter img {
        max-width: 45%;
    }

    .close {
        font-size: 1.75rem;

    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .title{
    font-size: 2.25rem;
    }
    
    .subTitle {
        font-size: 1.5rem;
    }

    .bio {
        font-size: 2rem;
    }

    .twitter img {
        max-width: 45%;
    }

    .close {
        font-size: 1.75rem;

    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .title{
        font-size: 2.5rem;
    }
       
    .subTitle {
        font-size: 1.75rem;
    }

    .bio {
        font-size: 2.25rem;
    }

    .twitter img {
        max-width: 50%;
    }

    .close{
        font-size: 2rem;

    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    .title{
        font-size: 2.75rem;
    }
    
    .subTitle {
        font-size: 2rem;
    }

    .bio {
        font-size: 2.5rem;
    }

    .twitter img {
    max-width: 55%;
    }

    .close{
        font-size: 2.5rem;

    }
    
}

.team {

    /* position */
    position: relative;

    /* flex layout */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /* spacing and sizing */
    max-width: 90%;

}


.member {

    /* position */
    position: relative;

    /* flex layout */
    display: flex;
    flex-direction: row;

    /* spacing and sizing */
    height: auto;
    max-width: 100%;

    /* styling */
    border-radius: 10px;
    margin: 1%;

}

.card {

    /* flex layout */
    display: flex;
    flex-direction: row;

    /* sizing and spacing */
    padding: 3%;

    /* styling */
    border-radius: 10px;
}

.text {

    /* flex layou */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    flex-shrink: 1;

    /* spacing and sizing */
    padding: 1%;

    /* styling */
    text-align: start;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #C73E7C;
}

.image {

    /* spacing and sizing */
    max-width: 30%;
}

.image img {

    /* spacing and sizing */
    max-width: 100%;
    height: auto;

    /* styling */
    border-radius: 10px;

}

/* bio & twitter tab */
.bio, .twitter {

    /* positioning */
    position: absolute;
    right: 0%;

    /* flex layout */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    /* spacing and sizing */
    padding-left: 1%;
    padding-right: 1%;
    height: 50%;
    width: 10%;
    text-align: center;

}

.bio {
    /* position */
    top: 0%;

    /* styling */
    transition: 2s;
    text-decoration: none;
    color: #C73E7C;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: rgb(240, 206, 65);
    background-image: url('/images/backgrounds/body/B21.png');

    border-radius: 0 10px 0 0;
}

.bio p {

    /* spacing and sizing */
    max-width: 90%;
    height: 110%;

}

.close {

    /* flex layout */
    display: flex;
    align-items: center;

    /* position */
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 0%;

    /* sizing and spacing */
    padding: 1%;

    /* styling */
    border-radius: 10px;
    border: none;
    background-color: rgb(240, 206, 65);
    background-image: url('/images/backgrounds/body/B6.png');
    text-align: center;
    color: white;

}

.twitter{

    /* flex layout */
    display: flex;
    align-items: center;

    /* position */
    bottom: 0%;

    /* styling */
    transition: 2s;
    border-radius: 0 0 10px 0;

}